<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfoListServlet</servlet-name>
    <servlet-class>servlet.InfoListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfoUpdateServlet</servlet-name>
    <servlet-class>servlet.InfoUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReleaseShowServlet</servlet-name>
    <servlet-class>servlet.ReleaseShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReleaseServlet</servlet-name>
    <servlet-class>servlet.ReleaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppointmentListServlet</servlet-name>
    <servlet-class>servlet.AppointmentListServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>StoreAdminListServlet</servlet-name>
    <servlet-class>servlet.admin.store.StoreAdminListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreAddServlet</servlet-name>
    <servlet-class>servlet.admin.store.StoreAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreDeleteServlet</servlet-name>
    <servlet-class>servlet.admin.store.StoreDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreInfoShowServlet</servlet-name>
    <servlet-class>servlet.admin.store.StoreInfoShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreUpdateServlet</servlet-name>
    <servlet-class>servlet.admin.store.StoreUpdateServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>MealAdminListServlet</servlet-name>
    <servlet-class>servlet.admin.meal.MealAdminListServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AppointmentAdminListServlet</servlet-name>
    <servlet-class>servlet.admin.appointment.AppointmentAdminListServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>UserAdminListServlet</servlet-name>
    <servlet-class>servlet.admin.user.UserAdminListServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>UserAddShowServlet</servlet-name>
    <servlet-class>servlet.admin.user.UserAddShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>servlet.admin.user.UserAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserUpdateShowServlet</servlet-name>
    <servlet-class>servlet.admin.user.UserUpdateShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>servlet.admin.user.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>servlet.admin.user.UserDeleteServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>RoleAdminListServlet</servlet-name>
    <servlet-class>servlet.admin.role.RoleAdminListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleAddServlet</servlet-name>
    <servlet-class>servlet.admin.role.RoleAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleDeleteServlet</servlet-name>
    <servlet-class>servlet.admin.role.RoleDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleUpdateShowServlet</servlet-name>
    <servlet-class>servlet.admin.role.RoleUpdateShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleUpdateServlet</servlet-name>
    <servlet-class>servlet.admin.role.RoleUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MealAddShowServlet</servlet-name>
    <servlet-class>servlet.admin.meal.MealAddShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MealAddServlet</servlet-name>
    <servlet-class>servlet.admin.meal.MealAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MealDeleteServlet</servlet-name>
    <servlet-class>servlet.admin.meal.MealDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MealUpdateShowServlet</servlet-name>
    <servlet-class>servlet.admin.meal.MealUpdateShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MealUpdateServlet</servlet-name>
    <servlet-class>servlet.admin.meal.MealUpdateServlet</servlet-class>
  </servlet>































  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/regist.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoListServlet</servlet-name>
    <url-pattern>/info.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoUpdateServlet</servlet-name>
    <url-pattern>/infoUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReleaseShowServlet</servlet-name>
    <url-pattern>/release.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReleaseServlet</servlet-name>
    <url-pattern>/doRelease.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppointmentListServlet</servlet-name>
    <url-pattern>/appointmentList.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MealAdminListServlet</servlet-name>
    <url-pattern>/mealAdminList.do</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>AppointmentAdminListServlet</servlet-name>
    <url-pattern>/appointmentAdminList.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>StoreAdminListServlet</servlet-name>
    <url-pattern>/storeAdminList.do</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>StoreAddServlet</servlet-name>
    <url-pattern>/storeAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreDeleteServlet</servlet-name>
    <url-pattern>/storeDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreInfoShowServlet</servlet-name>
    <url-pattern>/storeInfoShow.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreUpdateServlet</servlet-name>
    <url-pattern>/storeUpdate.do</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet-mapping>
    <servlet-name>UserAdminListServlet</servlet-name>
    <url-pattern>/userAdminList.do</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>UserAddShowServlet</servlet-name>
    <url-pattern>/userAddShow.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/userAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateShowServlet</servlet-name>
    <url-pattern>/userUpdateShow.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/userUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/userDelete.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>RoleAdminListServlet</servlet-name>
    <url-pattern>/roleAdminList.do</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>RoleAddServlet</servlet-name>
    <url-pattern>/roleAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleDeleteServlet</servlet-name>
    <url-pattern>/roleDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleUpdateShowServlet</servlet-name>
    <url-pattern>/roleUpdateShow.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleUpdateServlet</servlet-name>
    <url-pattern>/roleUpdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MealAddShowServlet</servlet-name>
    <url-pattern>/mealAddShow.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MealAddServlet</servlet-name>
    <url-pattern>/mealAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MealDeleteServlet</servlet-name>
    <url-pattern>/mealDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MealUpdateShowServlet</servlet-name>
    <url-pattern>/mealUpdateShow.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MealUpdateServlet</servlet-name>
    <url-pattern>/mealUpdate.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
